---
layout: default
title: Home
---

I am a resaercher in radio astronomy at the University of Oxford.

<div align="left">
<figure>
  <img src="/assets/img/me.jpeg"><br>
  <figcaption><b>Figure X:</b> The trained random forest regression model applied to a validation dataset with known spectroscopic redshifts (Zspec). The photometric redshift (Zphot) is the output prediction of the model, with the black line showing Zphot=Zspec. The colormap/colorbar represent the number of sources within each bin of the heatmap. The solid red line shows the mean of the Zphot in each Zspec bin, with the dashed red lines showing the...</figcaption>
</figure>
</div>

<!--{% for post in paginator.posts %}
   {% include featured-post.html %}
 {% endfor %}-->

<!-- Pagination links
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>-->
