---
layout: default
title: Home
---


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Right Aligned Image with Text Wrapping</title>
  <style>
    .right-img {
      float: right;
      margin: 10px;
      max-width: 300px;
    }
  </style>
</head>
<body>

  <img src="/assets/img/me.jpeg" alt="Description" class="right-img">

<p>
    Welcome. I am Dr. Joe Bright, an astrophysicist specializing in radio astronomy and the study of transient and variable phenomena in the universe. My research primarily focuses on relativistic outflows from black hole transients, tidal disruption events, and other energetic astrophysical processes observable through their radio emission.
</p>
<p>
    I am currently a researcher in the Department of Physics at the University of Oxford and hold a Dennis Sciama Junior Research Fellowship at Wolfson College. In addition, I serve as the Project Scientist for the Murriyang radio telescope (Parkes Observatory, Australia) as part of the Breakthrough Listen initiative. In the past I have held postdoctoral positions at Northwestern University (USA) and UC Berkeley (USA). I completed my PhD at the University of Oxford in 2020.
</p>
<p>
    <a href="https://ui.adsabs.harvard.edu/user/libraries/ppTg0JsAQeKfhFb_waw21Q">View my publication library on ADS</a>
</p>
<p>
    <a href="https://www.physics.ox.ac.uk/our-people/bright">View my department homepage</a>
</p>

</body>
</html>
